/* Уникальные стили для страницы контактов */

/* Центрирование формы */
form {
    background-color: #f0f8ff;
    border: 1px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; /* Устанавливаем максимальную ширину */
    margin: 50px auto; /* Центрируем форму */
}

/* Стили для текста */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    width: 100%; /* Делаем поля ввода шириной 100% */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Кнопка отправки */
form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Кнопка занимает всю ширину формы */
    font-size: 16px;
    text-align: center;
}

form button:hover {
    background-color: #0056b3;
}
